.siteHeader {
  margin: 1%;
  background-color: aqua;
  padding-bottom: 2px;
}

.searchHeader {
  font-size: x-large;
}

.searchInput {
  margin-bottom: 4%;
  width: 100%;
  border-radius: 5px;
}

.searchBar {
  border-bottom: 2px solid black;
  margin-left: 2%;
  align-content: center;
}

.pastSearch {
  margin-left: 2%;
}

.searchBtn {
  background-color: aqua;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 2%;
}

.searchBtn:hover {
  background-color: teal;
}

.prvSearch {
  margin-top: 2%;
  background-color: grey;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 2%;
}

.prvSearch:hover {
  background-color: white
}

.city {
  margin-bottom: 2%;
  background-color: aqua;
  font-weight: bold;
}

.currentDate {
  font-size: larger;
}

.results {
  margin: 2% 3% 2% 1%;
}

.cityResults {
  border: 2px solid black;
  height: 30%;
}

.cityResults div {
  margin-bottom: 3%;
}

.fiveDay {
  justify-content: space-between;
}

.col-2 {
  border: 2px solid black;
  background-color: aqua;
}

.searchCity {
  font-size: xx-large;
  font-weight: bold;
}

.green {
  background-color: green;
  border-radius: 5px;
  padding: 3px;
}

.yellow {
  background-color: rgb(230, 230, 17);
  border-radius: 5px;
  padding: 3px;
}

.red {
  background-color: red;
  border-radius: 5px;
  padding: 3px;
}
